<div class="mat-elevation-z8 col-xs-12 ">
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- categoria Column -->
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>categoria</th>
      <td mat-cell *matCellDef="let row">{{listaDeProductosService.category(row.categoria)}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
    </ng-container>

    <!-- Precio Column -->
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
      <td mat-cell *matCellDef="let row">{{row.precio}}</td>
    </ng-container>

    <!-- Ventas Column -->
    <ng-container matColumnDef="ventas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendidos</th>
      <td mat-cell *matCellDef="let row">{{row.ventas}}</td>
    </ng-container>
     
    <!-- Inventario Column -->
    <ng-container matColumnDef="inventario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inventario</th>
      <td mat-cell *matCellDef="let row">{{row.inventario}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10,25, 50, 100, 250]">
  </mat-paginator>
</div>