<div class="row principal arround-xs">

    <div class="contenedor col-xs-12 col-md-6 col-lg-5 row  center-xs">
      <div class="col-xs-4 center-xs">
          <div class="cursor indicador" [class.selected]="categoria === categoriaSeleccionada" *ngFor="let categoria of catalogo.listado" (click)="expandir(categoria)"> 
            <p>{{categoria}}</p> 
          </div>
      </div>
      <div class="col-xs-7" *ngIf="flagDeCategoria">
          <div class="cursor indicador" [class.selected]="producto === productoSeleccionado"
           *ngFor="let producto of listaParaLaVenta" (click)="seleccionarProducto(producto)">
             <p>{{producto.nombre}}</p>
          </div>
        </div>
    </div>

    <div class="contenedor col-xs-12 col-md-6 col-lg-3 center-xs">
      <div class="mat-elevation-z4  start-xs arround-xs calculadora" *ngIf="productoSeleccionado">
        <div class="col-xs-12 center-xs">
          <h4 class="span">nombre</h4>  
          <h4>  {{productoSeleccionado.nombre}}</h4>
        </div>
        <div class="col-xs-12 center-xs">
            <h4 class="center-xs row"><div class="col-xs-6">precio</div><div class="col-xs-6">{{productoSeleccionado.precio}}</div></h4>  
        </div>
        <div class="col-xs-12 center-xs">
            <h4 class="row"><div class="col-xs-6">cantidad</div><div class="col-xs-6"> {{cantidad}}</div></h4>  
        </div>
        <div class="col-xs-12 center-xs">
            <h4 class="row"><div class="col-xs-6"> subtotal</div><div class="col-xs-6"> {{cantidad * productoSeleccionado.precio}}</div></h4>  
        </div>
        <mat-form-field appearance="outline">
            <input type="number" matInput [(ngModel)]="cantidad" placeholder="cantidad"/>              
        </mat-form-field>
        <div class="center-xs between-xs row"> 
            <button class="col-xs-5" mat-raised-button color="info" (click)="cancelar()">cancelar</button>
            <button class="col-xs-5" mat-raised-button color="primary" (click)="vender()">vender</button>
        </div>
      </div>
    </div>

    <div class="contenedor col-xs-12 col-md-12 col-lg-4 center-xs">
      <div class="mat-elevation-z8 resumen">
        <div class="row around-xs middle-xs">
          <div class="col-xs-6"><h2>$ {{total}}</h2> </div>
          <div class="col-xs-6"><button mat-raised-button color="primary" (click)="cerrarCompra()">cerrar</button></div> 
        </div>
        <ul class="start-xs">
          <li class="row arround-xs mat-badge" *ngFor="let unaVenta of venta">
            <label class="col-xs-3">{{unaVenta.producto.nombre}}</label>
            <label class="col-xs-3">{{unaVenta.producto.precio}}</label> 
            <label class="col-xs-3">{{unaVenta.cantidad}}</label>
          </li>
        </ul>
      </div>
    </div>

</div>