<div class="col-xs-12 col-md-6 col-lg-4 col-md-offset-2 col-lg-offset-3 contenedor mat-elevation-z4">
    <div class="row col-xs-12 middle-xs center-xs">
      <mat-form-field appearance="outline">
          <mat-label>Id</mat-label>
          <input matInput value={{producto.id}}>
          <mat-icon matSuffix>id</mat-icon>
        </mat-form-field>
    </div>

    <div class="row col-xs-12 middle-xs center-xs">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="producto.nombre" placeholder="nombre"/>              
            <mat-icon matSuffix>create</mat-icon>
          </mat-form-field>
    </div>

    <div class="row col-xs-12 middle-xs center-xs">
      <mat-form-field appearance="outline">
          <mat-label>Precio</mat-label>
          <mat-icon matSuffix>account_balance_wallet</mat-icon>
          <input matInput [(ngModel)]="producto.precio" placeholder="Precio">
      </mat-form-field>
    </div>
    
    <div class="row col-xs-12 middle-xs center-xs">     
        <mat-form-field>
            <mat-select placeholder="Select me">
                <mat-option *ngFor="let categoria of catalogo.listado" value="catalogo.indexOfCategory(categoria)">
                  <p (click)="selectCategory(catalogo.indexOfCategory(categoria))">{{categoria}}</p>
                </mat-option>
                <mat-option value="-1" (click)="crearNuevaCategoria()">crear nueva categoria</mat-option>      
            </mat-select>
        </mat-form-field>
    </div>

    <div class="row col-xs-12 mat-elevation-z4 popup" *ngIf="flagDeCategoriaNueva">
        <mat-form-field class="row col-xs-12 middle-xs center-xs" appearance="outline">
            <mat-label>Nueva Categoria</mat-label>
            <input matInput [(ngModel)]="nuevaCategoria" placeholder="nombrar categoria"/>              
          </mat-form-field>
          <div class="row col-xs-12 middle-xs center-xs">     
            <button mat-raised-button color="primary"(click)="agregarUnaCategoria(nuevaCategoria)">agregar</button>
        </div>
    </div>

    <div *ngIf="!flagDeCategoriaNueva" class="row col-xs-12 middle-xs center-xs">     
        <button mat-raised-button color="primary" (click)="agregarProducto()">agregar</button>
    </div>
</div>