<mat-sidenav-container class="sidenav-container">

        <mat-sidenav #drawer class="sidenav"fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
          [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
      
          <mat-toolbar color="primary">paraTuPyME</mat-toolbar>
      
          <mat-nav-list>
            <a mat-list-item routerLink="/listaDeProductos"><mat-icon>list</mat-icon> Lista de productos</a>
            <a mat-list-item routerLink="/crearProducto"><mat-icon>add</mat-icon> Crear producto</a>
            <a mat-list-item routerLink="/stock"><mat-icon>add</mat-icon> Inventario</a>
            <a mat-list-item routerLink="/venta"><mat-icon>card_travel</mat-icon> Vender</a>
            <a mat-list-item routerLink="/dashboard"><mat-icon>multiline_chart</mat-icon> dashboard</a>
          </mat-nav-list>
      
        </mat-sidenav>
      
        <mat-sidenav-content>
          <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">more_vert</mat-icon>
            </button>
            <h1>{{title}}</h1>
         
          </mat-toolbar>
          
          <app-messages class="row col-xs-12 center-xs mensaje"></app-messages>
          <router-outlet></router-outlet>
      
        </mat-sidenav-content>
        
      </mat-sidenav-container>
      