.sidenav-container {
    height: 100%;
}
  
.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
.mensaje{
  z-index: 9;
  background: #30d6d6;
  position: absolute;
  width: 90%;
}