<div class="col-xs-12" *ngIf="mensajesService.mensajes.length">
  <div class="row middle-xs around-xs" *ngFor='let message of mensajesService.mensajes'> 
    <div class="box col-xs-3 start-xs"><h3>Messages</h3></div>
    <div class="box col-xs-5 center-xs">{{message}}</div>
    <div class="box col-xs-2 end-xs"><mat-icon class="cerrar" (click)="mensajesService.borrarTodo()">close</mat-icon></div>   
  </div>

</div>
