ul{
    list-style: none;
  }
  li{
    display: inline-block;
  }
  .indicador{
    text-align: center;
    background: #c2c2c2;
    padding: 2px;
    margin-top: 0.75%;
    border-radius: 3%;
  }
  .cursor{
    cursor: pointer;
  }
  .indicador:hover{
    background: #b4b4b4;
  }
  .calculadora{
    border-radius: 2%;
    padding: 6%;
  }
  .resumen{
    padding: 6%;
  }
  .principal{
    padding: 1%;
  }
  .span{
    background: #116bc0;
  }
  .calcValor{
    background-color: #c2c2c2;
  }
  .selected{
    background: #2131c0;
    color: oldlace;
  }
  .contenedor {
    margin-top: 2%;
  }