<div class="contenedor">
  <mat-card class="col-xs-10 col-xs-offset-1">
    
    <mat-card-header>
      <mat-card-title><h1>Ventas del dia ${{servicioDeVentas.calcularVentasDelDia()}}</h1></mat-card-title>
      <mat-card-subtitle><p>Aqui podremos ver una lista de los mas vendidos</p></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <!-- investigar como hacer un plot -->
    </mat-card-content>

  </mat-card>
</div>
